<div class="container-fluid html-part">
    <div class="container">
        <p>
            &lt;!DOCTYPE html&gt;<br>
            &lt;html&gt;<br>
            &lt;head&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;Trayan Ivanov - web developer&lt;/title&gt;<br>
            <span class="d-none d-md-block">&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta name="Keywords" content="Web Development, PHP, MySQL, JavaScript, HTML, CSS" /&gt;<br></span>
            <span class="d-none d-md-block">&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta name="Description" content="Web site of Trayan Ivanov - web developer" /&gt;<br></span>
            &lt;/head&gt;<br>
            &lt;body&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;?php echo "Hello there!"; ?&gt;<br>
            &lt;/body&gt;
        </p>
    </div>
</div>
