<header class="container-fluid">
    <div class="container">
        <a href="{{ path('home') }}">
            <img src="{{ asset('build/images/logo.png') }}" class="img-fluid" title="Trayan Ivanov" alt="Trayan Ivanov" />
        </a>
    </div>
</header>
